.AddButton{
    position: absolute;
    left:30%;
    top:0;
    background-color: #72c6eb; 
    border: none;
    border-radius: 0px 5px 5px 0px;
    box-shadow:3px 0px 4px rgb(211, 210, 210);
    color: white;
    padding: 60px 18px;
    display: inline-block;
  } 
.AddButton:hover {
    background-color: #90d3f0; 
    } 
.AddButton:active { 
    background-color:#329dca;
   }
.AddButton:focus {
    outline: none;
}
.AddButton p{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  writing-mode: vertical-rl;
}