.DeleteButton {
  background: transparent;
  border: 0;
  vertical-align: middle;
} 
.DeleteButton:focus {
  outline: none;
}
.DeleteButton:hover {
  cursor: pointer;
}

.DeleteButton img {
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
}