.list{
    list-style-type: none;
    list-style-position: inside;
    padding: 0 25px;
}

.list li::before {
    content: "\2022";  
    color: white; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }
.list li {
    padding: 8px 0;
    text-decoration: none;
    color: white;
  }
.list a {
    cursor: pointer;
  }