
 .AddEquipmentModal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWindow{
    min-width: 30%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
}
.modalWindow h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    margin: 2vh;
}
.modalWindow .inputCount, .modalWindow .inputName{
    height: 3vh;
    width: 80%;
    margin-top: 3vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.modalWindow input:focus{
    outline: none;
}

.modalWindow input::-webkit-outer-spin-button,
.modalWindow input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.wrongName { 
    height: 3vh;
    width: 80%;
    margin-top: 3vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid red;
}

.modalButton{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.button{
    width: 30%;
    display: inline-block;
    margin: 4vh 1vh 1vh 1vh;
    padding: 10px 10px;
    border: none;
    background-color: #72c6eb; 
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
  } 
.button:hover {
    background-color: #90d3f0; 
    } 
.button:active { 
    background-color:#329dca;
   }
.button:focus {
    outline: none;
}
.button p{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}