.page{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f1f8f9;
}